h1 {
  text-align: center;

}

body {
    background-color:#FFFFFF;
text-align: center;
}

header {
    text-align: center;
  align: top;
}

.data {

  text-align: center;
  color: green;
}

.errors {

  text-align: center;
  color: red
}
